body {
    font-family: "SF Pro Display", sans-serif;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(8, 200px);
    grid-gap: 60px;
}

.responsive-grid .responsive-item {
    height: 60px;
    background: mediumpurple;

}
