body {
    font-family: "SF Pro Display", sans-serif;
}


.tags-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px
}

.tags-inline-block .tag {
    display: inline-block;
}

.tags-inline .tag {
    display: inline;
}

.tags-block {
    display: block;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 60px;

    margin-top: 40px;
}

.tag {
    padding: 5px 15px;
    border-radius: 15px;

    background: black;
    color: white;
}
